* {
    background-color: gainsboro;
    text-align: center;
}

.page-title {
    font-family: 'Cormorant Garamond', serif;
}

h1,
p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    margin-bottom: 0px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: black;
}

.row {
    font-family: 'Merriweather', serif;
}

.centered {
    position: absolute;
    top: 35%;
    left: 47.3%;
    transform: translate(-45%, -45%);
    background: rgba(0, 128, 128, .3);
    color: white;
    padding: 40px;
}

.option {
    margin-top: 30px;
}

#quote-storage {
    display: flex;
}

#quote-text {
    font-size: 30px;
    margin: auto;
}

#savedQuoteP {
    display:inline-block;
    font-size: 25px;
    border: 1px solid slateblue;
    width: 75%;
    background-color:rgba(0, 128, 128, .3);
    color: white;
}

#btn,
#saveBtn,
#clearBtn {
    border-radius: 10px;
    padding: 5px;
}

#btn:hover,
#saveBtn:hover,
#clearBtn:hover {
    background-color: blue;
    color: white;
}